@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        A error occurred. Please contact the helpdesk.<br />
        Request Id: @Model
    </div>
</body>
</html>
